.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/Output_5.zip
Data/Output_5.csv
Data/deprecated
Output/deprecated
Code/deprecated
Figures/deprecated
Figures/baselines
Documents
Data/ESPstmf.csv
Data/ESPstmf.csv
